//$Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%);
//$Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%);
// $Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%);
// $Dark Gray (Light Mode Input): hsl(0, 0%, 52%);
// $Very Light Gray (Light Mode Background): hsl(0, 0%, 98%);
// $White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%);

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
.dark-theme {
  --background: hsl(207, 26%, 17%);
  --elements-background: hsl(209, 23%, 22%);
  --text-color: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 100%);
}

.light-theme {
  --background: hsl(0, 0%, 98%);
  --elements-background: hsl(0, 0%, 100%);
  --text-color: hsl(200, 15%, 8%);
  --input-color: hsl(0, 0%, 52%);
}

$horizontal-padding: 2rem;
$horizontal-padding--desktop: 5rem;

.wrapper {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background);
  font-family: "Nunito Sans", sans-serif;
}
.element {
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;
  margin-bottom: 5rem;
  @media (min-width: 1000px) {
    padding-left: $horizontal-padding--desktop;
    padding-right: $horizontal-padding--desktop;
  }
}
.header {
  background-color: var(--elements-background);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__title {
    font-size: 1.5rem;
  }
}
.mode-button {
  border: none;
  background-color: transparent;
  color: var(--text-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  &__icon {
    font-size: 1.2rem;
    margin-right: 8px;
  }
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @media (max-width: 650px) {
    height: 12rem;
    flex-direction: column;
    align-items: flex-start;
  }
}

.input {
  background-color: var(--elements-background);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  padding: 1rem;
  &::placeholder {
    color: var(--text-color);
    opacity: 1;
  }
}

.searchbar {
  width: 100%;
  max-width: 400px;
}

.region-select {
  width: 150px;
}

.country-list {
  width: 100%;
  min-width: 300px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  column-gap: 2rem;
  row-gap: 2rem;
}

.country-info {
  margin-bottom: 2rem;
  width: 300px;
  background-color: var(--elements-background);
  color: var(--text-color);
  &__flag {
    width: 100%;
  }
  &__content {
    padding: 1rem 1.2rem 2rem 1.2rem;
  }
  &__name {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
  }
  &__label {
    font-weight: 600;
  }
}
